<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application
        android:allowBackup="true"
        android:icon="@drawable/checkers"
        android:label="@string/app_name"
        android:roundIcon="@drawable/checkers"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjektCheck">


        <activity
            android:name="com.y4.projektcheck.Views.MainMenuActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.y4.projektcheck.Views.PlayerEmailSignUpActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.y4.projektcheck.Views.PlayerSignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="projektcheck.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.y4.projektcheck.Views.GameSessionActivity"
            android:exported="true" />
        <activity
            android:name="com.y4.projektcheck.Views.GameSessionRequestActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.y4.projektcheck.Views.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.y4.projektcheck.Views.UserProfileActivity" />
        <activity android:name="com.y4.projektcheck.Views.OwnSessionActivity" />
    </application>

</manifest>